<div class="contaier">
	<div class="card col-sm-6 col-md-6 ">
		<form class="form" *ngIf="!authService.getUser()">
			<div class="form-group">
				<label for="username">User: (type <em>user</em>)</label>
				<input class="form-control" name="username" #username>
			</div>
			<div class="form-group">
				<label for="password">Password: (type <em>password</em>)</label>
				<input class="form-control" type="password" name="password" #password>
			</div>
			<a class="btn btn-secondary mb-1" (click)="login(username.value, password.value)">Entrar!</a>
			{{mensajeError}}
		</form>
	</div>
</div>
<a class="btn btn-sm btn-secondary " (click)="logout()" *ngIf="authService.getUser()">Salir!</a>
