<div class="card-content">
    <div class="card-img">
        <img src="https://placeimg.com/380/230/nature" alt="">
        <span>
            <h4>{{position}}</h4>
        </span>
    </div>
    <div class="my-0 bg-dark"> 
        <a href="#" (click)= "voteUp()" appTrackearClick data-trackear-tags="destino_vote_up lista_destinos_item">
        <i class="material-icons md-30">thumb_up</i></a>
        <span class=" badge badge-primary">{{destino.votes}}</span>
        <a href="#" (click)= "voteDown()" appTrackearClick data-trackear-tags="destino_vote_down lista_destinos_item"><i class="material-icons md-30">thumb_down</i></a>
        <span class=" badge badge-danger">{{destino.votesd}}</span>
        <a href="#" (click)= "resetVotes()"><i class="material-icons md-30">autorenew</i></a>
     </div>
      <div class="card my-0" [@esFavorito]="destino.isSelected() ? 'estadoFavorito' : 'estadoNoFavorito'">
        <ul>
            <p class="my-2">servicios</p>
            <li *ngFor="let s of destino.servicios" class="my-0">
                <span [ngSwitch]="s">
                    <i *ngSwitchCase="'desayuno'" style="color: red;">{{s}}</i>
                    <i *ngSwitchDefault>{{s}}</i>
                </span>
            </li>
        </ul>
        <a [routerLink]="['/destino', destino.id]">Ver!</a>
        <a href="#" class=" btn btn-card" (click)= "ir()" 
        appTrackearClick data-trackear-tags="destino_elegir_preferido lista_destinos_item"
        >ir!</a>
        <span *ngIf="destino.isSelected()">
            <span ngNonBindable>{{PREFERIDO}}</span>
        </span>
        
    </div>
</div>

