<div class="container content">
  <div class="page-header">
    <div style="float: right;">
      <select (change)="translate.use($event.target.value)">
        <option value="Esp">Español</option>
        <option value="France">France</option>
        <option value="En">English</option>
      </select>
    </div>
  </div>
  <div class="container">
    <h1>Ruteo simple</h1>
    <div class="navLinks">
      <a [routerLink]="['/home']">home</a>
    </div>
  </div>
</div>

<div class="row">
  <h1>
    {{ title }} <b [innerHTML]="'HOLA' | translate"></b>
  </h1>
</div>
<router-outlet></router-outlet>
<hr class="mb-5">


Fecha: {{time | async }}